.svn
.gradle
.classpath
.project
.settings
.DS_Store
.gitattributes
.github/
.tx
.idea/
project.properties
local.properties
bin/
gen/
*.iml
*.sh
out
tests
test/androidTestEspresso/res/values/arrays.xml
ant.properties
build.log
build-log.xml
build
signing.properties
library/lib/
library/obj/
ffpr
obj/
jni/libspeex/.deps/
lint.xml
pkcs11.password
.svn/
.cxx/
captures/
internal/
play/